<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
<title>véhicule</title>
<meta charset="UTF-8"></meta>
<style>
.inval{ border: 1px solid red;}
</style>
</head>
<body>
	<div layout:fragment="breadcrumb">
		<h1>Ajouter chauffeur</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">Ajouter chauffeur</li>
		</ol>
	</div>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-6">
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">&nbsp;</h3>
					</div>
					<!-- /.box-header -->
					<!-- form start -->
					<form role="form" th:object="${chauffeur}" method="post"
						th:action="@{/chauffeur/form}">

						<div class="box-body">
							<p class="error-message" th:if="${#fields.hasGlobalErrors()}"
								th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
								error</p>
								
								
							<div class="form-group">
							<label for="nom">Nom</label> <input type="text"
										th:field="*{nom}" name="nom" class="form-control" 
										id="nom" placeholder="nom"  
										th:classappend="${#fields.hasErrors('nom')}?'inval':''"
											
										 /> <label
										class="control-label error-label" 
										th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">

									</label>
							</div>
									
								<div class="form-group">
									<label for="prenom">Prénom</label> <input type="text"
										th:field="*{prenom}" name="prenom" class="form-control"
										id="prenom" placeholder="prenom" 
											th:classappend="${#fields.hasErrors('prenom')}?'inval':''"
											/> <label
										class="control-label error-label"
										th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}">

									</label>
								</div>
								<div class="form-group">

									<label for="DateNai">Date de naissance</label> <input
										type="date" max="2030-12-12" min="1900-12-12" th:classappend="${#fields.hasErrors('dateNai')}?'inval':''"
										th:field="*{dateNai}" name="dateNai" class="form-control"
										id="dateNai" placeholder="DateNai" /> <label
										class="control-label error-label"
										th:if="${#fields.hasErrors('dateNai')}" th:errors="*{dateNai}">
									</label>
								</div>
								<div class="form-group">
									<label for="NumTel">Numéro de telephone</label> <input
										type="text" th:field="*{NumTel}" name="NumTel"
										class="form-control" id="NumTel" placeholder="NumTel"	th:classappend="${#fields.hasErrors('NumTel')}?'inval':''"
										 /> <label
										class="control-label error-label"
										th:if="${#fields.hasErrors('NumTel')}" th:errors="*{NumTel}">
									</label>
								</div>


								<div class="form-group"
									>
									<label for="NumPermis">Numéro de permis</label> <input
										type="text" th:field="*{NumPermi}" name="NumPermi"
										class="form-control" id="NumPermi" placeholder="NumPermis"	th:classappend="${#fields.hasErrors('NumPermi')}?'inval':''" />
									<label class="control-label error-label"
										th:if="${#fields.hasErrors('NumPermi')}"
										th:errors="*{NumPermi}"> </label>
								</div>
								<div class="form-group"
									>
									<label for="cin">Numéro de carte d'identité</label> <input
										type="text" th:field="*{NumCin}" name="cin"
										class="form-control" id="cin" placeholder="cin" 	th:classappend="${#fields.hasErrors('NumCin')}?'inval':''"/> <label
										class="control-label error-label"
										th:if="${#fields.hasErrors('NumCin')}" th:errors="*{NumCin}">
									</label>
								</div>



								<div class="form-group" id="etatDispo"
									>
									<label for="etatDispo"> Etat disponibilité</label> <select th:classappend="${#fields.hasErrors('etatDispo')}?'inval':''"
										class="form-control" th:field="*{etatDispo}">
										<option value=" " ></option>

										<option value="disponible">disponible</option>
										<option value="non disponible">non disponible</option>
										
									</select>
									<label
										class="control-label error-label"
										th:if="${#fields.hasErrors('etatDispo')}" th:errors="*{etatDispo}">
									</label>
								</div>

								<div class="form-group"
									>
									<label for="login">Login</label> <input type="text"
										th:field="*{login}" name="login" class="form-control"
										id="login" placeholder="login" 	th:classappend="${#fields.hasErrors('login')}?'inval':''" /> <label
										class="control-label error-label"
										th:if="${#fields.hasErrors('login')}" th:errors="*{login}">
									</label>
								</div>
								<div class="form-group"
									>
									<label for="MotPasse">Mot de passe</label> <input type="text"
										th:field="*{MotPasse}" name="login" class="form-control"	th:classappend="${#fields.hasErrors('MotPasse')}?'inval':''"
										id="password" placeholder="Mot de passe" /> <label
										class="control-label error-label"
										th:if="${#fields.hasErrors('MotPasse')}"
										th:errors="*{MotPasse}"> Pesan error nanti di sini </label>
								</div>


								<div class="form-group">
									<input type="hidden" th:field="*{id}" name="id"
										class="form-control" id="marque" />
								</div>

								<div class="form-group">
									<a th:href="@{/chauffeur/list}" class="btn btn-default"
										role="button" title="Back list"> <span aria-hidden="true"></span>retourner
									</a>
									<button type="submit" class="box-title btn btn-primary"
										title="Save Data">Enregistrer</button>
								</div>
							</div>
							<!-- /.box-body -->
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>