<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" />

<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>Livraison &mdash;</title>
<meta charset="utf-8">
<meta name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css"
  th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link
  href="https://fonts.googleapis.com/css?family=Rubik:300,400,700|Oswald:400,700"
  rel="stylesheet">

<link rel="stylesheet" href="fonts/icomoon/style.css">

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/jquery.fancybox.min.css">
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
<link rel="stylesheet" href="css/aos.css">





<!-- MAIN CSS -->
<link rel="stylesheet" href="css/style.css">

<link rel="stylesheet" type="text/css"
  th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<style>
.inval {
  border: 1px solid red;
}
</style>
<style type="text/css">
#field1 {
  float: left;
}

.visible {
  display: none;
}
</style>
<script type="text/javascript" th:inline="javascript">    
function change(selectedValue)
{ 
if(selectedValue=="physique")
  {
  //l'élément à créer
    let divElem= document.createElement("div");
  //divElem.id="physique";
  divElem.className="form-group row";
  divElem.id="divNom";
  
  
  //l'élément à insérer apres divNom 
  let typeDes=document.getElementById('typeDes');
  //l'élement parent 
  let formCont=document. getElementById('form-commande');
  
  let elementParent = typeDes.parentNode;
  
  elementParent.insertBefore(divElem, typeDes.nextSibling);
//création de label
      labelNom= document.createElement("label");
labelNom.for="labelNomclient";
labelNom.className="control-label col-md-3";
labelNom.id="labelNom";
labelNom.textContent="nom de client";
//ajouter label a la div
divElem.appendChild(labelNom);
//création de input
let inuptNom=document.createElement("input");
inuptNom.type="text"  ;
inuptNom.className="form-control col-md-9 physique";
inuptNom.id="inputNomclient";
inuptNom.value="";


divElem.appendChild(inuptNom);
//ajouter de input à l'élément div



//l'élément à créer
    let divElem2= document.createElement("div");
  //divElem.id="physique";
  divElem2.className="form-group row";
  divElem2.id="divPren";
  
  //l'élément à insérer apres 
  let divNom=document.getElementById('divNom');
  //l'élement parent 
  
  let elementParent1 = divNom.parentNode;
  
  elementParent1.insertBefore(divElem2, divNom.nextSibling);
//création de label
      labelPrenom= document.createElement("label");

      labelPrenom.for="inputPrenomclient";
      labelPrenom.className="control-label col-md-3";
      labelPrenom.textContent="Prénom de client";
//ajouter label a la div
divElem2.appendChild(labelPrenom);
//création de input
let inuptPren=document.createElement("input");
inuptPren.type="text" ;
inuptPren.className="form-control col-md-9 physique";
inuptPren.id="inputPrenomclient";
//ajouter de input à l'élément div
divElem2.appendChild(inuptPren);

var m=document.getElementById('morale');
if(m!=null)
  {
document.getElementById("panel-body").removeChild(m);}
  
}
else if(selectedValue=="morale"){
  //l'élément à créer
    let divElem= document.createElement("div");
  divElem.id="morale";
  divElem.className="form-group row";
  
  
  //l'élément à insérer apres 
  let typeDes=document.getElementById('typeDes');
  //l'élement parent 
  let formCont=document. getElementById('form-commande');
  
  let elementParent = typeDes.parentNode;
  
  elementParent.insertBefore(divElem, typeDes.nextSibling);
//création de label
      raisonSocialeLabel= document.createElement("label");

      raisonSocialeLabel.for="raisonSocialeLabel";
      raisonSocialeLabel.id="raisonSocialeLabel";
      raisonSocialeLabel.className="control-label col-md-3";
      raisonSocialeLabel.textContent="Raison sociale";
//ajouter label a la div
divElem.appendChild(raisonSocialeLabel);
//création de input
let raisonSocialeInput=document.createElement("input");
raisonSocialeInput.type="text"  ;
raisonSocialeInput.className="form-control col-md-9";
raisonSocialeInput.id="inputRaisonSociale";
divElem.appendChild(raisonSocialeInput);
//ajouter de input à l'élément div
var n=document.getElementById('divNom');
var p=document.getElementById('divPren');
if((n!=null) && (p!=null))
  {
  
  
document.getElementById("panel-body").removeChild(n);
document.getElementById("panel-body").removeChild(p);}


}
else{
  var n=document.getElementById('divNom');
  var p=document.getElementById('divPren');
  var m=document.getElementById('morale');
  if((n!=null) && (p!=null))
    {
  document.getElementById("panel-body").removeChild(n);
  document.getElementById("panel-body").removeChild(p);
  }
  else if(m!=null)
    {
    document.getElementById("panel-body").removeChild(m);}

    }

  } 



</script>
<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
   $("#selectType").change(function() {
  
      if(($("#divNom").css("visibility")!="hidden")&&($("#divPren").css("visibility")!="hidden")){
      
        $('#inputNomclient').blur(function()
            {
          if(this.value) {
          var inputNomclient= this.value;
          
              document.getElementById('nomhi').value= inputNomclient; 
         }
           
      });
      
        //blur2
      $('#inputPrenomclient').blur(function()
            {
          if(this.value) {
              var inputPrenomclient= this.value;
              document.getElementById('prenhi').value=inputPrenomclient;  
          
            }   
            });
    
   }
    
  if($("#morale").css("visibility")!="hidden")
     
     {  
      $('#inputRaisonSociale').blur(function()
          {
        if(this.value) {
            var inputRaisonSociale= this.value;
          
            document.getElementById('morlhi').value=inputRaisonSociale; 
          
        }
          });
     }   
      });});
     

    
  

  
</script>
<script type="text/javascript">





 $(document).ready(function() {
    
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    $(document).ajaxSend(function(e, xhr, options) {
        xhr.setRequestHeader(header, token);
    });
      $("#gouverSielect").change(function() {
        
        var gouverneratId = $(this).find(":selected").val();
        
        var json = {
         "gouverneratId": gouverneratId
        };
       
         $.ajax({
         type : "POST",
         contentType : "application/json",
         url : "/loadCityByCountry",
         data : JSON.stringify(json),
         dataType : 'json',
         cache : false,
         timeout : 600000,
         success : function(data) {
          var html = '';
          var len = data.length;
          html += '<option value="0"></option>';
          for (var i = 0; i < len; i++) {
           html += '<option value="' + data[i].id_ville + '">'
             + data[i].nom
             + '</option>';
          }
          html += '</option>';
          $('#selectVille').html(html);
         },
         error : function(e) {
         // alert(e);
         }
        });
      });
     });
 $(document).ready(function() {
    
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    $(document).ajaxSend(function(e, xhr, options) {
        xhr.setRequestHeader(header, token);
    });
$("#gouverSielectMar").change(function() {
  
     var gouverneratId = $(this).find(":selected").val();
     
     var json = {
      "gouverneratId": gouverneratId
     };
    
      $.ajax({
      type : "POST",
      contentType : "application/json",
      url : "/loadCityByCountry",
      data : JSON.stringify(json),
      dataType : 'json',
      cache : false,
      timeout : 600000,
      success : function(data) {
       var html = '';
       var len = data.length;
       html += '<option value="0"></option>';
       for (var i = 0; i < len; i++) {
        html += '<option value="' + data[i].id_ville + '">'
          + data[i].nom
          + '</option>';
       }
       html += '</option>';
       $('#selectVilleMar').html(html);
      },
      error : function(e) {
     //  alert(e);
      }
     });
   });
  });
 
</script>
</head>

<body data-spy="scroll" data-target=".site-navbar-target"
  data-offset="300">

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="site-wrap" id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <div class="top-bar">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <a href="#" class=""><span class="mr-2  icon-envelope-open-o"></span>
              <span class="d-none d-md-inline-block">RapidLivraison2020@gmail.com</span></a>
            <span class="mx-md-2 d-inline-block"></span> <a href="#" class=""><span
              class="mr-2  icon-phone"></span> <span
              class="d-none d-md-inline-block">+ (216) 54542196</span></a>


            <div class="float-right">

              <a href="#" class=""><span class="mr-2  icon-twitter"></span>
                <span class="d-none d-md-inline-block">Twitter</span></a> <span
                class="mx-md-2 d-inline-block"></span> <a href="#" class=""><span
                class="mr-2  icon-facebook"></span> <span
                class="d-none d-md-inline-block">Facebook</span></a>

            </div>

          </div>

        </div>

      </div>
    </div>
    <header class="site-navbar js-sticky-header site-navbar-target"
      role="banner">

      <div class="container">
        <div class="row align-items-center position-relative">


          <div class="site-logo">
            <a href="index.html" class="text-black"><span
              class="text-primary">Rapid Livraison</a>
          </div>

          <div class="col-12">
            <nav class="site-navigation text-right ml-auto " role="navigation">

              <ul
                class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                <li><a th:href="@{/Accueil}" class="nav-link">Acceuil</a></li>
                <li><a th:href="@{/Accueil#services-section}"
                  class="nav-link">Services</a></li>
                <li><a th:href="@{/}" class="nav-link">Expédier</a></li>
                <li><a th:href="@{/commande}" class="nav-link">Historique
                </a></li>
                <li><a th:href="@{/suiviColis}" class="nav-link">Suivi
                    vos colis </a></li>
                <li><a th:href="@{/editProfil}" class="nav-link">Modifier
                    votre profil</a></li>
                <li sec:authorize="isAuthenticated()"><a
                  class="glyphicon glyphicon-log-out" th:href="@{/logout}">Se
                    déconnecter</a></li>

              </ul>
            </nav>

          </div>

          <div class="toggle-button d-inline-block d-lg-none">
            <a href="#"
              class="site-menu-toggle py-5 js-menu-toggle text-black"><span
              class="icon-menu h3"></span></a>
          </div>

        </div>
    </header>
  </div>
  <div class="container">
    <div class="text-center container" id="blog-section">

      <br />
        <div th:if="${param.success}">
     <div class="alert alert-info">You've successfully registered
      to our awesome app!</div>
    </div>
      

      <h3>
        <strong>Veuiller remplir ce formulaire </strong>
      </h3>
      <br />
      <div class="panel panel-default">

        <div class="panel-body">
          <form th:object="${colis}" id="form-commande" method="post"
            th:action="@{/commande}">
            <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
              th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
              error</p>


            <fieldset id="field2" class="col-md-6">
              <legend> Adresse de destinateur </legend>

              <div class="panel panel-default">
                <div class="panel-body" id="panel-body">
                  <div class="form-group row">
                    <label for="inputAddressCli" class="control-label col-md-3">Adresse</label>
                    <input type="text" class="form-control col-md-9"
                      id="inputAddressCli" th:field="*{adresse_client}"
                      th:classappend="${#fields.hasErrors('adresse_client')}?'inval':''" />
                    <label class=" col-md-10" style="color: red;"
                      th:if="${#fields.hasErrors('adresse_client')}"
                      th:errors="*{adresse_client}"> </label>
                          </div>
                  <div class="form-group row">
                    <label for="inputposte" class="control-label col-md-3">Code
                      postale</label> <input type="text" class="form-control col-md-9"
                      id="inputposte" th:field="*{code_Postale_client}"
                      th:classappend="${#fields.hasErrors('code_Postale_client')}?'inval':''" />
                    <label class=" col-md-10" style="color: red;"
                      th:if="${#fields.hasErrors('code_Postale_client')}"
                      th:errors="*{code_Postale_client}"> </label>

                  </div>
                  <div class="form-group row">
                    <label for="inputVille" class=" control-label col-md-3">Gouvernorat</label>
                    <select class="form-control col-md-9" id="gouverSielect"
                      th:field="*{gouvernerat_client}"
                      th:classappend="${#fields.hasErrors('gouvernerat_client')}?'inval':''">


                      <option selected value=""></option>
                      <option th:each="gouvernerat:${gouvernerats}"
                        id="gouverSelect" th:text="${gouvernerat.nom}"
                        th:value="${gouvernerat.id}"></option>

                    </select> <label class=" col-md-10" style="color: red;"
                      th:if="${#fields.hasErrors('gouvernerat_client')}"
                      th:errors="*{gouvernerat_client}"> </label>
                  </div>
                  <div class="form-group row">
                    <label for="inputVille" class=" control-label col-md-3">ville</label>
                    <select class="form-control col-md-9"
                      th:field="*{ville_client}" id="selectVille"
                      th:classappend="${#fields.hasErrors('ville_client')}?'inval':''">

                      <option selected value=""></option>
                      <option th:each="ville:${villes}" id="villeSelect"
                        th:text="${ville.nom}" th:value="${ville.id_ville}">
                      </option>

                    </select> <label class=" col-md-10" style="color: red;"
                      th:if="${#fields.hasErrors('ville_client')}"
                      th:errors="*{ville_client}"> </label>

                  </div>
                  <div class="form-group row" id="typeDes">
                    <label for="inputState1" class="col-md-3">Type de
                      destinataire</label> <select id="selectType"
                      class="form-control col-md-9" th:field="*{type_destination}"
                      onchange="change(this.value)"
                      th:classappend="${#fields.hasErrors('type_destination')}?'inval':''">

                      <option selected value=""></option>
                      <option th:value="physique">physique</option>
                      <option th:value="morale">morale</option>
                    </select> <label class=" col-md-10" style="color: red;"
                      th:if="${#fields.hasErrors('type_destination')}"
                      th:errors="*{type_destination}"> </label>

                  </div>
                  <div class="form-group row">

                    <label for="inputNumtel" class="control-label col-md-3">Numéro
                      de télephone de destinataire</label> <input type="text"
                      class="form-control col-md-9" id="inputNumtel"
                      th:field="*{numTel_client}"
                      th:classappend="${#fields.hasErrors('numTel_client')}?'inval':''">
                    <label class=" col-md-10" style="color: red;"
                      th:if="${#fields.hasErrors('numTel_client')}"
                      th:errors="*{numTel_client}"> </label>
                  </div>

               </div>
                </div>
            </fieldset>


            <fieldset id="field1" class="col-md-6">
              <legend> Adresse de l'éxpéditeur</legend>

              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="form-group row">
                    <label for="inputAddress" class="control-label col-md-3">Adresse</label>
                    <input type="text" class="form-control col-md-9"
                      id="inputAddress" th:field="*{adresse_marchand}"
                      th:classappend="${#fields.hasErrors('adresse_marchand')}?'inval':''">

                    <label class=" col-md-10" style="color: red;"
                      th:if="${#fields.hasErrors('adresse_marchand')}"
                      th:errors="*{adresse_marchand}"> </label>
                  </div>
                  <div class="form-group row">
                    <label for="inputposte" class="control-label col-md-3">Code
                      postale</label> <input type="text" class="form-control col-md-9"
                      title="Le code postale doit contenir 4 chiffres"
                       id="inputposte"
                      th:field="*{code_Postale_marchand}"
                      th:classappend="${#fields.hasErrors('code_Postale_marchand')}?'inval':''">
                    <label class=" col-md-10" style="color: red;"
                      th:if="${#fields.hasErrors('code_Postale_marchand')}"
                      th:errors="*{code_Postale_marchand}"> </label>
                  </div>
                  <div class="form-group row">
                    <label for="inputVille" class=" control-label col-md-3">Gouvernorat</label>
                    <select class="form-control col-md-9" id="gouverSielectMar"
                      th:field="*{gouvernerat_marchand}"
                      th:classappend="${#fields.hasErrors('gouvernerat_marchand')}?'inval':''">

                      <option selected value=""></option>
                      <option th:each="gouvernerat:${gouvernerats}"
                        id="gouverSelect" th:text="${gouvernerat.nom}"
                        th:value="${gouvernerat.id}"></option>

                    </select> <label class=" col-md-10" style="color: red;"
                      th:if="${#fields.hasErrors('gouvernerat_marchand')}"
                      th:errors="*{gouvernerat_marchand}"> </label>
                  </div>
                  <div class="form-group row">
                    <label for="inputVille" class=" control-label col-md-3">ville</label>
                    <select class="form-control col-md-9"
                      th:field="*{ville_marchand}" id="selectVilleMar"
                      th:classappend="${#fields.hasErrors('ville_marchand')}?'inval':''">

                      <option selected value=""></option>
                      <option th:each="ville:${villes}" id="villeSelect"
                        th:text="${ville.nom}" th:value="${ville.id_ville}">
                      </option>
                    </select> <label class=" col-md-10" style="color: red;"
                      th:if="${#fields.hasErrors('ville_marchand')}"
                      th:errors="*{ville_marchand}"> </label>

                  </div>
                </div>
              </div>

            </fieldset>
            <fieldset id="field2" class="col-md-6">
              <legend> Information de marchandises </legend>

              <div class="panel panel-default">
                <div class="panel-body">

                  <div class="form-group row">
                    <label for="inputposte" class="col-md-3">Poids en Kg</label> <input
                      type="text" class="form-control col-md-9" id="inputposte"
                      th:field="*{poids}"
                      th:classappend="${#fields.hasErrors('poids')}?'inval':''">
                    <label class=" col-md-10" style="color: red;"
                      th:if="${#fields.hasErrors('poids')}"
                      th:errors="*{poids}"> </label>
                  </div>
                  <div class="form-group row">
                    <label for="inputState" class="col-md-3">Nature de
                      marchandise</label> <select id="inputState"
                      class="form-control col-md-9" th:field="*{desc_Colis}"
                      th:classappend="${#fields.hasErrors('desc_Colis')}?'inval':''">

                      <option selected value=""></option>
                      <option th:value="Marchandise" selected>Marcahndises</option>
                      <option th:value="Documents">Documents</option>
                      <option th:value="Meubles">Meubles</option>
                      <option th:value="Autre">Autres</option>


                    </select> <label class=" col-md-10" style="color: red;"
                      th:if="${#fields.hasErrors('desc_Colis')}"
                      th:errors="*{desc_Colis}"> </label>

                  </div>
                  <input type="hidden" id="nomhi" th:field="*{nom_client}" /> 
                
                  <input
                    type="hidden" id="prenhi" th:field="*{prenom_client}" /> 
                     <input
                    type="hidden" id="morlhi" th:field="*{raison_sociale}" />

                </div>
                  </div>
       
            </fieldset>
        

        <button type="submit" class="btn btn-warning " id="submitForm">Envoyer
        </button>
            </form>
    </div>

    </div>
  </div>
</div>
      <script src="js/jquery-3.3.1.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/owl.carousel.min.js"></script>
      <script src="js/jquery.sticky.js"></script>
      <script src="js/jquery.waypoints.min.js"></script>
      <script src="js/jquery.animateNumber.min.js"></script>
      <script src="js/jquery.fancybox.min.js"></script>
      <script src="js/jquery.easing.1.3.js"></script>
      <script src="js/aos.js"></script>

      <script src="js/main.js"></script>
</body>

</html>